/**
 * _home page layout style sheet
 *
 * @package 	yiipis
 * @subpackage 	views.layouts
 *
 * @author 		Jerry Ablan <jablan@pogostick.com>
 * @version 	SVN $Id$
 * @since 		v1.0.0
 *
 * @filesource
 */

#content-wrapper {
	min-width: 1000px !important;
	clear: both;
	margin: 25px;
	position: relative;
	top: 20px;
}

div#column-one {
}

.content-one-column {
	height:100%;
	min-height:100%;
	position:relative;
	margin:25px;
}

	.content-one-column h1 {
		color:#BBBBBB;
		font-size:2.5em;
		font-weight:800;
		text-decoration:none;
		text-shadow:0 0 35px #E27A3B;
	}
